.search {
	display: flex;
	align-items: center;
	width: 30rem;
	height: 4.4rem;
	padding: 0.4rem 0 0.4rem 0.4rem;
	border-radius: var(--row-border-radius);
	background: var(--white-color);
}

.search input {
	height: 100%;
	flex: 1;
	color: var(--text-color);
	padding-left: 0.8rem;
}

.search input::placeholder {
	color: var(--icon-color);
	font-weight: 500;
}

.iconSearch {
	width: 4.4rem;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.searchIcon {
	cursor: pointer;
	color: var(--icon-color);
	border-left: 1px solid var(--border-color);
	padding-left: 0.8rem;
	font-size: 2.8rem;
	margin-right: 0.8rem;
}

@media (max-width: 768px) {
	.search {
		height: 3.6rem;
	}
}

@media (max-width: 575px) {
	.search {
		width: 20rem;
	}

	.search input {
		width: 16rem;
	}
}

@media (max-width: 429px) {
	.search {
		width: 100%;
	}
}
